
/* ----- THEME ----- */


/* VARIABLES */
:root {
  --primary0:transparent;/* transparent */
  --primary1:#ffffff;/* white */
  --primary2:#ebebeb;/* white-1 */
  --primary3:#0077cc;/* cerulean */
  --primary4:#a8a8a8;/* greyish */
  --primary5:#666666;/* brownish-grey */
  --primary6:#444444;/* greyish-brown */
  --primary7:#eb0052;/* pink-red */
  --primary8:#434346;/* charcoal-grey */
  --primary9:#333333;/* blackish */
  --primary10:#0cd000;/* vibrant-green */
  --primary11:#ff455a;/* watermelon */
  --primary12:#f7f7f9;/* well-gray */
  --primary13:#ededf0;/* pale-grey */
  --primary14:#f5f5f7;/* pale-grey-2 */
  --primary15:#fafafc;/* pale-grey-3 */
  --primary16:#f0f0f0;/* white-3 */
  --primary17:#ffc245;/* butterscotch */
  --primary18:#dedee0;/* silver-two */
  --primary19:#c5c5c7;/* silver */
  --primary20:#97979c;/* cool-grey */
  --primary21:#ffe8f0;/* light-pink */
  --hover0:#0094ff;/* azure */
  --hover1:#ff1164;/* pink-red-2 */
  --hover2:#f0f0f0;/* white-3 */
  --active0:#0057b8;/* ocean-blue */
  --active1:#d8d8d8;/* white-2 */
  --active2:#d6004b;/* ruby */
  --active3:#ededf0;/* pale-grey */
  --disabled0:#eaeaea;/* white-5 */
  --disabled1:#a8a8a8;/* greyish */
}


/* RESET */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
*:focus {outline: none;}
button {user-select: none;}
img {max-width: 100%;}
svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
select,
textarea,
button,
input {font-family: inherit;}


/* TYPEFACE */
html {font-size: 18px;}
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: normal;
  line-height: 1.333;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* COLOR */
.color-primary0{color:var(--primary0);}/* transparent */
.color-primary1{color:var(--primary1);}/* white */
.color-primary2{color:var(--primary2);}/* white-1 */
.color-primary3{color:var(--primary3);}/* cerulean */
.color-primary4{color:var(--primary4);}/* greyish */
.color-primary5{color:var(--primary5);}/* brownish-grey */
.color-primary6{color:var(--primary6);}/* greyish-brown */
.color-primary7{color:var(--primary7);}/* pink-red */
.color-primary8{color:var(--primary8);}/* charcoal-grey */
.color-primary9{color:var(--primary9);}/* blackish */
.color-primary10{color:var(--primary10);}/* vibrant-green */
.color-primary11{color:var(--primary11);}/* watermelon */
.color-primary12{color:var(--primary12);}/* well-gray */
.color-primary13{color:var(--primary13);}/* pale-grey */
.color-primary14{color:var(--primary14);}/* pale-grey-2 */
.color-primary15{color:var(--primary15);}/* pale-grey-3 */
.color-primary16{color:var(--primary16);}/* white-3 */
.color-primary17{color:var(--primary17);}/* butterscotch */
.color-primary18{color:var(--primary18);}/* silver-two */
.color-primary19{color:var(--primary19);}/* silver */
.color-primary20{color:var(--primary20);}/* cool-grey */
.color-primary21{color:var(--primary21);}/* light-pink */
.color-hover0.hover{color:var(--hover0);}/* azure */
.color-hover1.hover{color:var(--hover1);}/* pink-red-2 */
.color-hover2.hover{color:var(--hover2);}/* white-3 */
.color-hover0:hover{color:var(--hover0);}/* azure */
.color-hover1:hover{color:var(--hover1);}/* pink-red-2 */
.color-hover2:hover{color:var(--hover2);}/* white-3 */
.color-active0.active{color:var(--active0);}/* ocean-blue */
.color-active1.active{color:var(--active1);}/* white-2 */
.color-active2.active{color:var(--active2);}/* ruby */
.color-active3.active{color:var(--active3);}/* pale-grey */
.color-active0:active{color:var(--active0);}/* ocean-blue */
.color-active1:active{color:var(--active1);}/* white-2 */
.color-active2:active{color:var(--active2);}/* ruby */
.color-active3:active{color:var(--active3);}/* pale-grey */
.color-disabled0.disabled{color:var(--disabled0);}/* white-5 */
.color-disabled1.disabled{color:var(--disabled1);}/* greyish */
.color-disabled0:disabled{color:var(--disabled0);}/* white-5 */
.color-disabled1:disabled{color:var(--disabled1);}/* greyish */

/* BACKGROUND */
.background-color-none{background-color:none;}
.background-color-primary0{background-color:var(--primary0);}/* transparent */
.background-color-primary1{background-color:var(--primary1);}/* white */
.background-color-primary2{background-color:var(--primary2);}/* white-1 */
.background-color-primary3{background-color:var(--primary3);}/* cerulean */
.background-color-primary4{background-color:var(--primary4);}/* greyish */
.background-color-primary5{background-color:var(--primary5);}/* brownish-grey */
.background-color-primary6{background-color:var(--primary6);}/* greyish-brown */
.background-color-primary7{background-color:var(--primary7);}/* pink-red */
.background-color-primary8{background-color:var(--primary8);}/* charcoal-grey */
.background-color-primary9{background-color:var(--primary9);}/* blackish */
.background-color-primary10{background-color:var(--primary10);}/* vibrant-green */
.background-color-primary11{background-color:var(--primary11);}/* watermelon */
.background-color-primary12{background-color:var(--primary12);}/* well-gray */
.background-color-primary13{background-color:var(--primary13);}/* pale-grey */
.background-color-primary14{background-color:var(--primary14);}/* pale-grey-2 */
.background-color-primary15{background-color:var(--primary15);}/* pale-grey-3 */
.background-color-primary16{background-color:var(--primary16);}/* white-3 */
.background-color-primary17{background-color:var(--primary17);}/* butterscotch */
.background-color-primary18{background-color:var(--primary18);}/* silver-two */
.background-color-primary19{background-color:var(--primary19);}/* silver */
.background-color-primary20{background-color:var(--primary20);}/* cool-grey */
.background-color-primary21{background-color:var(--primary21);}/* light-pink */
.background-color-hover0.hover{background-color:var(--hover0);}/* azure */
.background-color-hover1.hover{background-color:var(--hover1);}/* pink-red-2 */
.background-color-hover2.hover{background-color:var(--hover2);}/* white-3 */
.background-color-hover0:hover{background-color:var(--hover0);}/* azure */
.background-color-hover1:hover{background-color:var(--hover1);}/* pink-red-2 */
.background-color-hover2:hover{background-color:var(--hover2);}/* white-3 */
.background-color-active0.active{background-color:var(--active0);}/* ocean-blue */
.background-color-active1.active{background-color:var(--active1);}/* white-2 */
.background-color-active2.active{background-color:var(--active2);}/* ruby */
.background-color-active3.active{background-color:var(--active3);}/* pale-grey */
.background-color-active0:active{background-color:var(--active0);}/* ocean-blue */
.background-color-active1:active{background-color:var(--active1);}/* white-2 */
.background-color-active2:active{background-color:var(--active2);}/* ruby */
.background-color-active3:active{background-color:var(--active3);}/* pale-grey */
.background-color-disabled0.disabled{background-color:var(--disabled0);}/* white-5 */
.background-color-disabled1.disabled{background-color:var(--disabled1);}/* greyish */
.background-color-disabled0:disabled{background-color:var(--disabled0);}/* white-5 */
.background-color-disabled1:disabled{background-color:var(--disabled1);}/* greyish */

/* GRADIENT */


/* BORDER */
.border-none{border:none;}
.border-top-none{border-top:none;}
.border-right-none{border-right:none;}
.border-left-none{border-left:none;}
.border{border: 1px solid;}
.border-top{border-top: 1px solid;}
.border-right{border-right: 1px solid;}
.border-bottom{border-bottom: 1px solid;}
.border-left{border-left: 1px solid;}
.border-color-primary0{background-color:var(--primary0);}
.border-color-primary1{background-color:var(--primary1);}
.border-color-primary2{background-color:var(--primary2);}
.border-color-primary3{background-color:var(--primary3);}
.border-color-primary4{background-color:var(--primary4);}
.border-color-primary5{background-color:var(--primary5);}
.border-color-primary6{background-color:var(--primary6);}
.border-color-primary7{background-color:var(--primary7);}
.border-color-primary8{background-color:var(--primary8);}
.border-color-primary9{background-color:var(--primary9);}
.border-color-primary10{background-color:var(--primary10);}
.border-color-primary11{background-color:var(--primary11);}
.border-color-primary12{background-color:var(--primary12);}
.border-color-primary13{background-color:var(--primary13);}
.border-color-primary14{background-color:var(--primary14);}
.border-color-primary15{background-color:var(--primary15);}
.border-color-primary16{background-color:var(--primary16);}
.border-color-primary17{background-color:var(--primary17);}
.border-color-primary18{background-color:var(--primary18);}
.border-color-primary19{background-color:var(--primary19);}
.border-color-primary20{background-color:var(--primary20);}
.border-color-primary21{background-color:var(--primary21);}
.border-color-hover0.hover{background-color:var(--hover0);}
.border-color-hover1.hover{background-color:var(--hover1);}
.border-color-hover2.hover{background-color:var(--hover2);}
.border-color-hover0:hover{background-color:var(--hover0);}
.border-color-hover1:hover{background-color:var(--hover1);}
.border-color-hover2:hover{background-color:var(--hover2);}
.border-color-active0.active{background-color:var(--active0);}
.border-color-active1.active{background-color:var(--active1);}
.border-color-active2.active{background-color:var(--active2);}
.border-color-active3.active{background-color:var(--active3);}
.border-color-active0:active{background-color:var(--active0);}
.border-color-active1:active{background-color:var(--active1);}
.border-color-active2:active{background-color:var(--active2);}
.border-color-active3:active{background-color:var(--active3);}
.border-color-disabled0.disabled{background-color:var(--disabled0);}
.border-color-disabled1.disabled{background-color:var(--disabled1);}
.border-color-disabled0:disabled{background-color:var(--disabled0);}
.border-color-disabled1:disabled{background-color:var(--disabled1);}
/* RADIUS */
.border-radius-none{border-radius:0;}
.border-radius-100{border-radius:100%;}
.border-radius-pill{border-radius:9999px;}
.border-top-right-radius0{border-top-right-radius:0;}
.border-bottom-right-radius0{border-bottom-right-radius:0;}
.border-top-left-radius0{border-top-left-radius:0;}
.border-bottom-left-radius0{border-bottom-left-radius:0;}
.border-radius0{border-radius:4px;}
.border-radius1{border-radius:6px;}
.border-radius2{border-radius:15px;}
.border-radius3{border-radius:9999px;}


/* FILL */
.f-none{fill:none;}
.fill-primary0{fill:var(--primary0);}/* transparent */
.fill-primary1{fill:var(--primary1);}/* white */
.fill-primary2{fill:var(--primary2);}/* white-1 */
.fill-primary3{fill:var(--primary3);}/* cerulean */
.fill-primary4{fill:var(--primary4);}/* greyish */
.fill-primary5{fill:var(--primary5);}/* brownish-grey */
.fill-primary6{fill:var(--primary6);}/* greyish-brown */
.fill-primary7{fill:var(--primary7);}/* pink-red */
.fill-primary8{fill:var(--primary8);}/* charcoal-grey */
.fill-primary9{fill:var(--primary9);}/* blackish */
.fill-primary10{fill:var(--primary10);}/* vibrant-green */
.fill-primary11{fill:var(--primary11);}/* watermelon */
.fill-primary12{fill:var(--primary12);}/* well-gray */
.fill-primary13{fill:var(--primary13);}/* pale-grey */
.fill-primary14{fill:var(--primary14);}/* pale-grey-2 */
.fill-primary15{fill:var(--primary15);}/* pale-grey-3 */
.fill-primary16{fill:var(--primary16);}/* white-3 */
.fill-primary17{fill:var(--primary17);}/* butterscotch */
.fill-primary18{fill:var(--primary18);}/* silver-two */
.fill-primary19{fill:var(--primary19);}/* silver */
.fill-primary20{fill:var(--primary20);}/* cool-grey */
.fill-primary21{fill:var(--primary21);}/* light-pink */
.fill-hover0.hover{fill:var(--hover0);}/* azure */
.fill-hover1.hover{fill:var(--hover1);}/* pink-red-2 */
.fill-hover2.hover{fill:var(--hover2);}/* white-3 */
.fill-hover0:hover{fill:var(--hover0);}/* azure */
.fill-hover1:hover{fill:var(--hover1);}/* pink-red-2 */
.fill-hover2:hover{fill:var(--hover2);}/* white-3 */
.fill-active0.active{fill:var(--active0);}/* ocean-blue */
.fill-active1.active{fill:var(--active1);}/* white-2 */
.fill-active2.active{fill:var(--active2);}/* ruby */
.fill-active3.active{fill:var(--active3);}/* pale-grey */
.fill-active0:active{fill:var(--active0);}/* ocean-blue */
.fill-active1:active{fill:var(--active1);}/* white-2 */
.fill-active2:active{fill:var(--active2);}/* ruby */
.fill-active3:active{fill:var(--active3);}/* pale-grey */
.fill-disabled0.disabled{fill:var(--disabled0);}/* white-5 */
.fill-disabled1.disabled{fill:var(--disabled1);}/* greyish */
.fill-disabled0:disabled{fill:var(--disabled0);}/* white-5 */
.fill-disabled1:disabled{fill:var(--disabled1);}/* greyish */

/* STROKE */
.stroke-primary0{stroke:var(--primary0);}/* transparent */
.stroke-primary1{stroke:var(--primary1);}/* white */
.stroke-primary2{stroke:var(--primary2);}/* white-1 */
.stroke-primary3{stroke:var(--primary3);}/* cerulean */
.stroke-primary4{stroke:var(--primary4);}/* greyish */
.stroke-primary5{stroke:var(--primary5);}/* brownish-grey */
.stroke-primary6{stroke:var(--primary6);}/* greyish-brown */
.stroke-primary7{stroke:var(--primary7);}/* pink-red */
.stroke-primary8{stroke:var(--primary8);}/* charcoal-grey */
.stroke-primary9{stroke:var(--primary9);}/* blackish */
.stroke-primary10{stroke:var(--primary10);}/* vibrant-green */
.stroke-primary11{stroke:var(--primary11);}/* watermelon */
.stroke-primary12{stroke:var(--primary12);}/* well-gray */
.stroke-primary13{stroke:var(--primary13);}/* pale-grey */
.stroke-primary14{stroke:var(--primary14);}/* pale-grey-2 */
.stroke-primary15{stroke:var(--primary15);}/* pale-grey-3 */
.stroke-primary16{stroke:var(--primary16);}/* white-3 */
.stroke-primary17{stroke:var(--primary17);}/* butterscotch */
.stroke-primary18{stroke:var(--primary18);}/* silver-two */
.stroke-primary19{stroke:var(--primary19);}/* silver */
.stroke-primary20{stroke:var(--primary20);}/* cool-grey */
.stroke-primary21{stroke:var(--primary21);}/* light-pink */
.stroke-hover0.hover{stroke:var(--hover0);}/* azure */
.stroke-hover1.hover{stroke:var(--hover1);}/* pink-red-2 */
.stroke-hover2.hover{stroke:var(--hover2);}/* white-3 */
.stroke-hover0:hover{stroke:var(--hover0);}/* azure */
.stroke-hover1:hover{stroke:var(--hover1);}/* pink-red-2 */
.stroke-hover2:hover{stroke:var(--hover2);}/* white-3 */
.stroke-active0.active{stroke:var(--active0);}/* ocean-blue */
.stroke-active1.active{stroke:var(--active1);}/* white-2 */
.stroke-active2.active{stroke:var(--active2);}/* ruby */
.stroke-active3.active{stroke:var(--active3);}/* pale-grey */
.stroke-active0:active{stroke:var(--active0);}/* ocean-blue */
.stroke-active1:active{stroke:var(--active1);}/* white-2 */
.stroke-active2:active{stroke:var(--active2);}/* ruby */
.stroke-active3:active{stroke:var(--active3);}/* pale-grey */
.stroke-disabled0.disabled{stroke:var(--disabled0);}/* white-5 */
.stroke-disabled1.disabled{stroke:var(--disabled1);}/* greyish */
.stroke-disabled0:disabled{stroke:var(--disabled0);}/* white-5 */
.stroke-disabled1:disabled{stroke:var(--disabled1);}/* greyish */

/* UTILS */

.truncate,
.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

/* List */
.list-style-initial {list-style:initial;}
.list-style-none {list-style:none;}

/* CURSOR */
.cursor-pointer{cursor: pointer;}
.cursor-grab{cursor: grab;}
.cursor-grabbing{cursor: grabbing;}



/* SIZES */
.font-size5{font-size:4.209rem;}
.font-size4{font-size:3.157rem;}
.font-size3{font-size:2.369rem;}
.font-size2{font-size:1.777rem;}
.font-size1{font-size:1.333rem;}
.font-size0{font-size:1rem;}
.font-size-1{font-size:0.75rem;}
.font-size-2{font-size:0.563rem;}
.font-size-3{font-size:0.422rem;}
.font-size-4{font-size:0.317rem;}
.font-size-5{font-size:0.238rem;}

/* LINE HEIGHT */
.line-height5{line-height:4.209rem;}
.line-height4{line-height:3.157rem;}
.line-height3{line-height:2.369rem;}
.line-height2{line-height:1.777rem;}
.line-height1{line-height:1.333rem;}
.line-height0{line-height:1rem;}
.line-height-1{line-height:0.75rem;}
.line-height-2{line-height:0.563rem;}
.line-height-3{line-height:0.422rem;}
.line-height-4{line-height:0.317rem;}
.line-height-5{line-height:0.238rem;}

/* WEIGHTS */
.font-weight-100,
.font-weight-thin{font-weight:100;}
.font-weight-200,
.font-weight-extra-light{font-weight:200;}
.font-weight-300,
.font-weight-light{font-weight:300;}
.font-weight-400,
.font-weight-normal{font-weight:400;}
.font-weight-500,
.font-weight-medium{font-weight:500;}
.font-weight-700,
.font-weight-bold{font-weight:700;}
.font-weight-800,
.font-weight-extra-bold{font-weight:800;}
.font-weight-900,
.font-weight-black{font-weight:900;}


/* ALIGN */
.text-align-inherit{text-align:inherit;}
.text-align-center{text-align:center;}
.text-align-left{text-align:left;}
.text-align-right{text-align:right;}


 /* DECORATION */
.text-decoration-none{text-decoration: none;}
.text-decoration-underline{text-decoration: underline;}
.text-decoration-line-through{text-decoration: line-through;}


/* -----  LAYOUT ----- */


/* POSITION */
.position-static{position:static;}
.position-absolute{position:absolute;}
.position-relative{position:relative;}
.position-fixed{position:fixed;}


/* DISPLAY */
.display-none{display:none;}
.display-block{display:block;}
.display-inline{display:inline;}
.display-inline-block{display:inline-block;}
.display-flex{display:flex;}
.display-inline-flex{display:inline-flex;}


/* WIDTH */
.width-auto{width:auto;}
.width-0{width:0;}
.width-100{width:100%;}
.viewport-width-0{width:0vw;}
.viewport-width-100{width:100vw;}


/* HEIGHT */
.height-auto{height:auto;}
.height-0{height:0;}
.height-100{height:100%;}
.viewport-height-0{height:0vh;}
.viewport-height-100{height:100vh;}

/* FLEX */
.flex-direction-row{flex-direction: row;}
.flex-direction-row-reverse{flex-direction: row-reverse;}
.flex-direction-column{flex-direction: column;}
.flex-direction-column-reverse{flex-direction: column-reverse;}
.flex-direction-inherit{flex-direction: inherit;}
.align-items-start{align-items:flex-start;}
.align-items-end{align-items:flex-end;}
.align-items-center{align-items:center;}
.justify-content-flex-start{justify-content: flex-start;}
.justify-content-flex-end{justify-content: flex-end;}
.justify-content-space-around{justify-content:space-around;}
.justify-content-space-between{justify-content:space-between;}
.justify-content-center{justify-content:center;}
.flex-grow-0{flex-grow:0;}
.flex-grow-1{flex-grow:1;}
.flex-wrap-wrap{flex-wrap: wrap;}
.flex-wrap-wrap-reverse{flex-wrap: wrap-reverse;}
.flex-wrap-nowrap{flex-wrap: nowrap;}


/* MARGIN */
.margin-none{margin:0;}
.margin-top-none{margin-top:0;}
.margin-right-none{margin-right:0;}
.margin-bottom-none{margin-bottom:0;}
.margin-left-none{margin-left:0;}
.margin-right-auto{margin-right:auto;}
.margin-left-auto{margin-left:auto;}
.margin5{margin:4.209rem;}
.margin-top5{margin-top:4.209rem;}
.margin-right5{margin-right:4.209rem;}
.margin-bottom5{margin-bottom:4.209rem;}
.margin-left5{margin-left:4.209rem;}
.margin4{margin:3.157rem;}
.margin-top4{margin-top:3.157rem;}
.margin-right4{margin-right:3.157rem;}
.margin-bottom4{margin-bottom:3.157rem;}
.margin-left4{margin-left:3.157rem;}
.margin3{margin:2.369rem;}
.margin-top3{margin-top:2.369rem;}
.margin-right3{margin-right:2.369rem;}
.margin-bottom3{margin-bottom:2.369rem;}
.margin-left3{margin-left:2.369rem;}
.margin2{margin:1.777rem;}
.margin-top2{margin-top:1.777rem;}
.margin-right2{margin-right:1.777rem;}
.margin-bottom2{margin-bottom:1.777rem;}
.margin-left2{margin-left:1.777rem;}
.margin1{margin:1.333rem;}
.margin-top1{margin-top:1.333rem;}
.margin-right1{margin-right:1.333rem;}
.margin-bottom1{margin-bottom:1.333rem;}
.margin-left1{margin-left:1.333rem;}
.margin0{margin:1rem;}
.margin-top0{margin-top:1rem;}
.margin-right0{margin-right:1rem;}
.margin-bottom0{margin-bottom:1rem;}
.margin-left0{margin-left:1rem;}
.margin-1{margin:0.75rem;}
.margin-top-1{margin-top:0.75rem;}
.margin-right-1{margin-right:0.75rem;}
.margin-bottom-1{margin-bottom:0.75rem;}
.margin-left-1{margin-left:0.75rem;}
.margin-2{margin:0.563rem;}
.margin-top-2{margin-top:0.563rem;}
.margin-right-2{margin-right:0.563rem;}
.margin-bottom-2{margin-bottom:0.563rem;}
.margin-left-2{margin-left:0.563rem;}
.margin-3{margin:0.422rem;}
.margin-top-3{margin-top:0.422rem;}
.margin-right-3{margin-right:0.422rem;}
.margin-bottom-3{margin-bottom:0.422rem;}
.margin-left-3{margin-left:0.422rem;}
.margin-4{margin:0.317rem;}
.margin-top-4{margin-top:0.317rem;}
.margin-right-4{margin-right:0.317rem;}
.margin-bottom-4{margin-bottom:0.317rem;}
.margin-left-4{margin-left:0.317rem;}
.margin-5{margin:0.238rem;}
.margin-top-5{margin-top:0.238rem;}
.margin-right-5{margin-right:0.238rem;}
.margin-bottom-5{margin-bottom:0.238rem;}
.margin-left-5{margin-left:0.238rem;}


/* PADDING */
.padding-none{padding:0;}
.padding-top-none{padding-top:0;}
.padding-right-none{padding-right:0;}
.padding-bottom-none{padding-bottom:0;}
.padding-left-none{padding-left:0;}
.padding5{padding:4.209rem;}
.padding-top5{padding-top:4.209rem;}
.padding-right5{padding-right:4.209rem;}
.padding-bottom5{padding-bottom:4.209rem;}
.padding-left5{padding-left:4.209rem;}
.padding4{padding:3.157rem;}
.padding-top4{padding-top:3.157rem;}
.padding-right4{padding-right:3.157rem;}
.padding-bottom4{padding-bottom:3.157rem;}
.padding-left4{padding-left:3.157rem;}
.padding3{padding:2.369rem;}
.padding-top3{padding-top:2.369rem;}
.padding-right3{padding-right:2.369rem;}
.padding-bottom3{padding-bottom:2.369rem;}
.padding-left3{padding-left:2.369rem;}
.padding2{padding:1.777rem;}
.padding-top2{padding-top:1.777rem;}
.padding-right2{padding-right:1.777rem;}
.padding-bottom2{padding-bottom:1.777rem;}
.padding-left2{padding-left:1.777rem;}
.padding1{padding:1.333rem;}
.padding-top1{padding-top:1.333rem;}
.padding-right1{padding-right:1.333rem;}
.padding-bottom1{padding-bottom:1.333rem;}
.padding-left1{padding-left:1.333rem;}
.padding0{padding:1rem;}
.padding-top0{padding-top:1rem;}
.padding-right0{padding-right:1rem;}
.padding-bottom0{padding-bottom:1rem;}
.padding-left0{padding-left:1rem;}
.padding-1{padding:0.75rem;}
.padding-top-1{padding-top:0.75rem;}
.padding-right-1{padding-right:0.75rem;}
.padding-bottom-1{padding-bottom:0.75rem;}
.padding-left-1{padding-left:0.75rem;}
.padding-2{padding:0.563rem;}
.padding-top-2{padding-top:0.563rem;}
.padding-right-2{padding-right:0.563rem;}
.padding-bottom-2{padding-bottom:0.563rem;}
.padding-left-2{padding-left:0.563rem;}
.padding-3{padding:0.422rem;}
.padding-top-3{padding-top:0.422rem;}
.padding-right-3{padding-right:0.422rem;}
.padding-bottom-3{padding-bottom:0.422rem;}
.padding-left-3{padding-left:0.422rem;}
.padding-4{padding:0.317rem;}
.padding-top-4{padding-top:0.317rem;}
.padding-right-4{padding-right:0.317rem;}
.padding-bottom-4{padding-bottom:0.317rem;}
.padding-left-4{padding-left:0.317rem;}
.padding-5{padding:0.238rem;}
.padding-top-5{padding-top:0.238rem;}
.padding-right-5{padding-right:0.238rem;}
.padding-bottom-5{padding-bottom:0.238rem;}
.padding-left-5{padding-left:0.238rem;}


/* OVERFLOW */
.overflow-auto{overflow:auto;-webkit-overflow-scrolling: touch;}
.overflow-scroll{overflow:scroll;-webkit-overflow-scrolling: touch;}
.overflow-hidden{overflow:hidden;}
.overflow-x-scroll{overflow-x:scroll;-webkit-overflow-scrolling: touch;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-scroll{overflow-y:scroll;-webkit-overflow-scrolling: touch;}
.overflow-y-hidden{overflow-y:hidden;}


/* VISIBILITY */
.visibility-hidden{visibility:hidden;}
.visibility-visible{visibility:visible;}

@media only screen and (min-width:48em) {



/* SIZES */
.font-size5-lg{font-size:4.209rem;}
.font-size4-lg{font-size:3.157rem;}
.font-size3-lg{font-size:2.369rem;}
.font-size2-lg{font-size:1.777rem;}
.font-size1-lg{font-size:1.333rem;}
.font-size0-lg{font-size:1rem;}
.font-size-1-lg{font-size:0.75rem;}
.font-size-2-lg{font-size:0.563rem;}
.font-size-3-lg{font-size:0.422rem;}
.font-size-4-lg{font-size:0.317rem;}
.font-size-5-lg{font-size:0.238rem;}

/* LINE HEIGHT */
.line-height5-lg{line-height:4.209rem;}
.line-height4-lg{line-height:3.157rem;}
.line-height3-lg{line-height:2.369rem;}
.line-height2-lg{line-height:1.777rem;}
.line-height1-lg{line-height:1.333rem;}
.line-height0-lg{line-height:1rem;}
.line-height-1-lg{line-height:0.75rem;}
.line-height-2-lg{line-height:0.563rem;}
.line-height-3-lg{line-height:0.422rem;}
.line-height-4-lg{line-height:0.317rem;}
.line-height-5-lg{line-height:0.238rem;}

/* WEIGHTS */
.font-weight-100-lg,
.font-weight-thin-lg{font-weight:100;}
.font-weight-200-lg,
.font-weight-extra-light-lg{font-weight:200;}
.font-weight-300-lg,
.font-weight-light-lg{font-weight:300;}
.font-weight-400-lg,
.font-weight-normal-lg{font-weight:400;}
.font-weight-500-lg,
.font-weight-medium-lg{font-weight:500;}
.font-weight-700-lg,
.font-weight-bold-lg{font-weight:700;}
.font-weight-800-lg,
.font-weight-extra-bold-lg{font-weight:800;}
.font-weight-900-lg,
.font-weight-black-lg{font-weight:900;}


/* ALIGN */
.text-align-inherit-lg{text-align:inherit;}
.text-align-center-lg{text-align:center;}
.text-align-left-lg{text-align:left;}
.text-align-right-lg{text-align:right;}


 /* DECORATION */
.text-decoration-none{text-decoration: none;}
.text-decoration-underline{text-decoration: underline;}
.text-decoration-line-through{text-decoration: line-through;}


/* -----  LAYOUT ----- */


/* POSITION */
.position-static-lg{position:static;}
.position-absolute-lg{position:absolute;}
.position-relative-lg{position:relative;}
.position-fixed-lg{position:fixed;}


/* DISPLAY */
.display-none-lg{display:none;}
.display-block-lg{display:block;}
.display-inline-lg{display:inline;}
.display-inline-block-lg{display:inline-block;}
.display-flex-lg{display:flex;}
.display-inline-flex-lg{display:inline-flex;}


/* WIDTH */
.width-auto-lg{width:auto;}
.width-0-lg{width:0;}
.width-100-lg{width:100%;}
.viewport-width-0-lg{width:0vw;}
.viewport-width-100-lg{width:100vw;}


/* HEIGHT */
.height-auto-lg{height:auto;}
.height-0-lg{height:0;}
.height-100-lg{height:100%;}
.viewport-height-0-lg{height:0vh;}
.viewport-height-100-lg{height:100vh;}

/* FLEX */
.flex-direction-row-lg{flex-direction: row;}
.flex-direction-row-reverse-lg{flex-direction: row-reverse;}
.flex-direction-column-lg{flex-direction: column;}
.flex-direction-column-reverse-lg{flex-direction: column-reverse;}
.flex-direction-inherit-lg{flex-direction: inherit;}
.align-items-start-lg{align-items:flex-start;}
.align-items-end-lg{align-items:flex-end;}
.align-items-center-lg{align-items:center;}
.justify-content-flex-start-lg{justify-content: flex-start;}
.justify-content-flex-end-lg{justify-content: flex-end;}
.justify-content-space-around-lg{justify-content:space-around;}
.justify-content-space-between-lg{justify-content:space-between;}
.justify-content-center-lg{justify-content:center;}
.flex-grow-0-lg{flex-grow:0;}
.flex-grow-1-lg{flex-grow:1;}
.flex-wrap-wrap-lg{flex-wrap: wrap;}
.flex-wrap-wrap-reverse-lg{flex-wrap: wrap-reverse;}
.flex-wrap-nowrap-lg{flex-wrap: nowrap;}


/* MARGIN */
.margin-none-lg{margin:0;}
.margin-top-none-lg{margin-top:0;}
.margin-right-none-lg{margin-right:0;}
.margin-bottom-none-lg{margin-bottom:0;}
.margin-left-none-lg{margin-left:0;}
.margin-right-auto-lg{margin-right:auto;}
.margin-left-auto-lg{margin-left:auto;}
.margin5-lg{margin:4.209rem;}
.margin-top5-lg{margin-top:4.209rem;}
.margin-right5-lg{margin-right:4.209rem;}
.margin-bottom5-lg{margin-bottom:4.209rem;}
.margin-left5-lg{margin-left:4.209rem;}
.margin4-lg{margin:3.157rem;}
.margin-top4-lg{margin-top:3.157rem;}
.margin-right4-lg{margin-right:3.157rem;}
.margin-bottom4-lg{margin-bottom:3.157rem;}
.margin-left4-lg{margin-left:3.157rem;}
.margin3-lg{margin:2.369rem;}
.margin-top3-lg{margin-top:2.369rem;}
.margin-right3-lg{margin-right:2.369rem;}
.margin-bottom3-lg{margin-bottom:2.369rem;}
.margin-left3-lg{margin-left:2.369rem;}
.margin2-lg{margin:1.777rem;}
.margin-top2-lg{margin-top:1.777rem;}
.margin-right2-lg{margin-right:1.777rem;}
.margin-bottom2-lg{margin-bottom:1.777rem;}
.margin-left2-lg{margin-left:1.777rem;}
.margin1-lg{margin:1.333rem;}
.margin-top1-lg{margin-top:1.333rem;}
.margin-right1-lg{margin-right:1.333rem;}
.margin-bottom1-lg{margin-bottom:1.333rem;}
.margin-left1-lg{margin-left:1.333rem;}
.margin0-lg{margin:1rem;}
.margin-top0-lg{margin-top:1rem;}
.margin-right0-lg{margin-right:1rem;}
.margin-bottom0-lg{margin-bottom:1rem;}
.margin-left0-lg{margin-left:1rem;}
.margin-1-lg{margin:0.75rem;}
.margin-top-1-lg{margin-top:0.75rem;}
.margin-right-1-lg{margin-right:0.75rem;}
.margin-bottom-1-lg{margin-bottom:0.75rem;}
.margin-left-1-lg{margin-left:0.75rem;}
.margin-2-lg{margin:0.563rem;}
.margin-top-2-lg{margin-top:0.563rem;}
.margin-right-2-lg{margin-right:0.563rem;}
.margin-bottom-2-lg{margin-bottom:0.563rem;}
.margin-left-2-lg{margin-left:0.563rem;}
.margin-3-lg{margin:0.422rem;}
.margin-top-3-lg{margin-top:0.422rem;}
.margin-right-3-lg{margin-right:0.422rem;}
.margin-bottom-3-lg{margin-bottom:0.422rem;}
.margin-left-3-lg{margin-left:0.422rem;}
.margin-4-lg{margin:0.317rem;}
.margin-top-4-lg{margin-top:0.317rem;}
.margin-right-4-lg{margin-right:0.317rem;}
.margin-bottom-4-lg{margin-bottom:0.317rem;}
.margin-left-4-lg{margin-left:0.317rem;}
.margin-5-lg{margin:0.238rem;}
.margin-top-5-lg{margin-top:0.238rem;}
.margin-right-5-lg{margin-right:0.238rem;}
.margin-bottom-5-lg{margin-bottom:0.238rem;}
.margin-left-5-lg{margin-left:0.238rem;}


/* PADDING */
.padding-none-lg{padding:0;}
.padding-top-none-lg{padding-top:0;}
.padding-right-none-lg{padding-right:0;}
.padding-bottom-none-lg{padding-bottom:0;}
.padding-left-none-lg{padding-left:0;}
.padding5-lg{padding:4.209rem;}
.padding-top5-lg{padding-top:4.209rem;}
.padding-right5-lg{padding-right:4.209rem;}
.padding-bottom5-lg{padding-bottom:4.209rem;}
.padding-left5-lg{padding-left:4.209rem;}
.padding4-lg{padding:3.157rem;}
.padding-top4-lg{padding-top:3.157rem;}
.padding-right4-lg{padding-right:3.157rem;}
.padding-bottom4-lg{padding-bottom:3.157rem;}
.padding-left4-lg{padding-left:3.157rem;}
.padding3-lg{padding:2.369rem;}
.padding-top3-lg{padding-top:2.369rem;}
.padding-right3-lg{padding-right:2.369rem;}
.padding-bottom3-lg{padding-bottom:2.369rem;}
.padding-left3-lg{padding-left:2.369rem;}
.padding2-lg{padding:1.777rem;}
.padding-top2-lg{padding-top:1.777rem;}
.padding-right2-lg{padding-right:1.777rem;}
.padding-bottom2-lg{padding-bottom:1.777rem;}
.padding-left2-lg{padding-left:1.777rem;}
.padding1-lg{padding:1.333rem;}
.padding-top1-lg{padding-top:1.333rem;}
.padding-right1-lg{padding-right:1.333rem;}
.padding-bottom1-lg{padding-bottom:1.333rem;}
.padding-left1-lg{padding-left:1.333rem;}
.padding0-lg{padding:1rem;}
.padding-top0-lg{padding-top:1rem;}
.padding-right0-lg{padding-right:1rem;}
.padding-bottom0-lg{padding-bottom:1rem;}
.padding-left0-lg{padding-left:1rem;}
.padding-1-lg{padding:0.75rem;}
.padding-top-1-lg{padding-top:0.75rem;}
.padding-right-1-lg{padding-right:0.75rem;}
.padding-bottom-1-lg{padding-bottom:0.75rem;}
.padding-left-1-lg{padding-left:0.75rem;}
.padding-2-lg{padding:0.563rem;}
.padding-top-2-lg{padding-top:0.563rem;}
.padding-right-2-lg{padding-right:0.563rem;}
.padding-bottom-2-lg{padding-bottom:0.563rem;}
.padding-left-2-lg{padding-left:0.563rem;}
.padding-3-lg{padding:0.422rem;}
.padding-top-3-lg{padding-top:0.422rem;}
.padding-right-3-lg{padding-right:0.422rem;}
.padding-bottom-3-lg{padding-bottom:0.422rem;}
.padding-left-3-lg{padding-left:0.422rem;}
.padding-4-lg{padding:0.317rem;}
.padding-top-4-lg{padding-top:0.317rem;}
.padding-right-4-lg{padding-right:0.317rem;}
.padding-bottom-4-lg{padding-bottom:0.317rem;}
.padding-left-4-lg{padding-left:0.317rem;}
.padding-5-lg{padding:0.238rem;}
.padding-top-5-lg{padding-top:0.238rem;}
.padding-right-5-lg{padding-right:0.238rem;}
.padding-bottom-5-lg{padding-bottom:0.238rem;}
.padding-left-5-lg{padding-left:0.238rem;}


/* OVERFLOW */
.overflow-auto-lg{overflow:auto;-webkit-overflow-scrolling: touch;}
.overflow-scroll-lg{overflow:scroll;-webkit-overflow-scrolling: touch;}
.overflow-hidden-lg{overflow:hidden;}
.overflow-x-scroll-lg{overflow-x:scroll;-webkit-overflow-scrolling: touch;}
.overflow-x-hidden-lg{overflow-x:hidden;}
.overflow-y-scroll-lg{overflow-y:scroll;-webkit-overflow-scrolling: touch;}
.overflow-y-hidden-lg{overflow-y:hidden;}


/* VISIBILITY */
.visibility-hidden-lg{visibility:hidden;}
.visibility-visible-lg{visibility:visible;}

}
