
/* ----- THEME ----- */

/* VARIABLES */
:root {
  --p0:transparent;/* transparent */
  --p1:#ffffff;/* white */
  --p2:#ebebeb;/* white-1 */
  --p3:#d8d8d8;/* white-2 */
  --p4:#eaeaea;/* white-3 */
  --p5:#0094ff;/* azure */
  --p6:#0077cc;/* cerulean */
  --p7:#0057b8;/* ocean-blue */
  --p8:#a8a8a8;/* greyish */
  --p9:#666666;/* brownish-grey */
  --p10:#444444;/* greyish-brown */
  --p11:#d6004b;/* ruby */
  --p12:#ff1164;/* pink-red */
  --p13:#eb0052;/* pink-red-two */
}

/* RESET */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  background: inherit;
  border: none;
  box-sizing: border-box;
}
*:focus {outline: none;}
a {text-decoration: none;}
li {list-style: none;}
button {user-select: none;}
img {max-width: 100%;}
svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
select,
textarea,
button,
input {font-family: inherit;}
*:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px var(--p0) inset}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--p3);
  opacity: 0;
}
/* TYPEFACE */
html {font-size: 18px;}
body {
  font-weight: normal;
  line-height: 1.333;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* COLOR */
.c-p0{color:var(--p0);}/* transparent */
.c-p1{color:var(--p1);}/* white */
.c-p2{color:var(--p2);}/* white-1 */
.c-p3{color:var(--p3);}/* white-2 */
.c-p4{color:var(--p4);}/* white-3 */
.c-p5{color:var(--p5);}/* azure */
.c-p6{color:var(--p6);}/* cerulean */
.c-p7{color:var(--p7);}/* ocean-blue */
.c-p8{color:var(--p8);}/* greyish */
.c-p9{color:var(--p9);}/* brownish-grey */
.c-p10{color:var(--p10);}/* greyish-brown */
.c-p11{color:var(--p11);}/* ruby */
.c-p12{color:var(--p12);}/* pink-red */
.c-p13{color:var(--p13);}/* pink-red-two */

/* BACKGROUND */
.bg-none{background-color:none;}
.bg-p0{background-color:var(--p0);}/* transparent */
.bg-p1{background-color:var(--p1);}/* white */
.bg-p2{background-color:var(--p2);}/* white-1 */
.bg-p3{background-color:var(--p3);}/* white-2 */
.bg-p4{background-color:var(--p4);}/* white-3 */
.bg-p5{background-color:var(--p5);}/* azure */
.bg-p6{background-color:var(--p6);}/* cerulean */
.bg-p7{background-color:var(--p7);}/* ocean-blue */
.bg-p8{background-color:var(--p8);}/* greyish */
.bg-p9{background-color:var(--p9);}/* brownish-grey */
.bg-p10{background-color:var(--p10);}/* greyish-brown */
.bg-p11{background-color:var(--p11);}/* ruby */
.bg-p12{background-color:var(--p12);}/* pink-red */
.bg-p13{background-color:var(--p13);}/* pink-red-two */

/* BORDER */
.b-none{border:none;}
.bt-none{border-top:none;}
.br-none{border-right:none;}
.bb-none{border-bottom:none;}
.bl-none{border-left:none;}
.b{border: 1px solid;}
.bt{border-top: 1px solid;}
.br{border-right: 1px solid;}
.bb{border-bottom: 1px solid;}
.bl{border-left: 1px solid;}
.b-p0{border-color:var(--p0);}/* transparent */
.b-p1{border-color:var(--p1);}/* white */
.b-p2{border-color:var(--p2);}/* white-1 */
.b-p3{border-color:var(--p3);}/* white-2 */
.b-p4{border-color:var(--p4);}/* white-3 */
.b-p5{border-color:var(--p5);}/* azure */
.b-p6{border-color:var(--p6);}/* cerulean */
.b-p7{border-color:var(--p7);}/* ocean-blue */
.b-p8{border-color:var(--p8);}/* greyish */
.b-p9{border-color:var(--p9);}/* brownish-grey */
.b-p10{border-color:var(--p10);}/* greyish-brown */
.b-p11{border-color:var(--p11);}/* ruby */
.b-p12{border-color:var(--p12);}/* pink-red */
.b-p13{border-color:var(--p13);}/* pink-red-two */
/* RADIUS */
.br-100{border-radius:100%;}
.br0{border-radius:4px;}
.br1{border-radius:6px;}

/* FILL */
.f-none{fill:none;}
.f-p0{fill:var(--p0);}/* transparent */
.f-p1{fill:var(--p1);}/* white */
.f-p2{fill:var(--p2);}/* white-1 */
.f-p3{fill:var(--p3);}/* white-2 */
.f-p4{fill:var(--p4);}/* white-3 */
.f-p5{fill:var(--p5);}/* azure */
.f-p6{fill:var(--p6);}/* cerulean */
.f-p7{fill:var(--p7);}/* ocean-blue */
.f-p8{fill:var(--p8);}/* greyish */
.f-p9{fill:var(--p9);}/* brownish-grey */
.f-p10{fill:var(--p10);}/* greyish-brown */
.f-p11{fill:var(--p11);}/* ruby */
.f-p12{fill:var(--p12);}/* pink-red */
.f-p13{fill:var(--p13);}/* pink-red-two */

/* STROKE */
.s-p0{stroke:var(--p0);}/* transparent */
.s-p1{stroke:var(--p1);}/* white */
.s-p2{stroke:var(--p2);}/* white-1 */
.s-p3{stroke:var(--p3);}/* white-2 */
.s-p4{stroke:var(--p4);}/* white-3 */
.s-p5{stroke:var(--p5);}/* azure */
.s-p6{stroke:var(--p6);}/* cerulean */
.s-p7{stroke:var(--p7);}/* ocean-blue */
.s-p8{stroke:var(--p8);}/* greyish */
.s-p9{stroke:var(--p9);}/* brownish-grey */
.s-p10{stroke:var(--p10);}/* greyish-brown */
.s-p11{stroke:var(--p11);}/* ruby */
.s-p12{stroke:var(--p12);}/* pink-red */
.s-p13{stroke:var(--p13);}/* pink-red-two */


/* UTILS */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}/* CURSOR */
.cu-pointer{cursor: pointer;}
.cu-grab{cursor: grab;}
.cu-grabbing{cursor: grabbing;}


/* SIZES */
.fs3{font-size:2.369rem;}
.fs2{font-size:1.777rem;}
.fs1{font-size:1.333rem;}
.fs0{font-size:1rem;}
.fs-1{font-size:0.75rem;}
.fs-2{font-size:0.563rem;}
.fs-3{font-size:0.422rem;}

/* WEIGHTS */
.fw-light{font-weight:200;}
.fw-book{font-weight:300;}
.fw-normal{font-weight:400;}
.fw-medium{font-weight:500;}
.fw-bold{font-weight:700;}

/* ALIGN */
.ta-i{text-align:inherit;}
.ta-c{text-align:center;}
.ta-l{text-align:left;}
.ta-r{text-align:right;}
/* DECORATION */
.td-n{text-decoration: none;}
.td-u{text-decoration: underline;}
.td-lt{text-decoration: line-through;}

/* -----  LAYOUT ----- */

/* POSITION */
.p-static{position:static;}
.p-absolute{position:absolute;}
.p-relative{position:relative;}
.p-fixed{position:fixed;}
/* DISPLAY */
.d-none{display:none;}
.d-block{display:block;}
.d-inline-block{display:block;}
.d-flex{display:flex;}
.d-inline-flex{display:inline-flex;}
/* DIMENSIONS */
.w-100{width:100%;}
.h-100{height:100%;}
.vw-100{width:100vw;}
.vh-100{height:100vh;}
/* FLEX */
.fd-r{flex-direction: row;}
.fd-rr{flex-direction: row-reverse;}
.fd-c{flex-direction: column;}
.fd-cr{flex-direction: column-reverse;}
.fd-i{flex-direction: inherit;}
.ai-c{align-items:center;}
.jc-a{justify-content:space-around;}
.jc-b{justify-content:space-between;}
.jc-c{justify-content:center;}
.fg-0{flex-grow:0;}
.fg-1{flex-grow:1;}

/* MARGIN */
.m-none{margin:none;}
.mt-none{margin-top:none;}
.mr-none{margin-right:none;}
.mb-none{margin-bottom:none;}
.ml-none{margin-left:none;}
.m-auto{
  margin-right:auto;
  margin-left:auto;
}
.mr-auto{margin-right:auto;}
.ml-auto{margin-left:auto;}
.m3{margin:2.369rem;}
.mt3{margin-top:2.369rem;}
.mr3{margin-right:2.369rem;}
.mb3{margin-bottom:2.369rem;}
.ml3{margin-left:2.369rem;}
.m2{margin:1.777rem;}
.mt2{margin-top:1.777rem;}
.mr2{margin-right:1.777rem;}
.mb2{margin-bottom:1.777rem;}
.ml2{margin-left:1.777rem;}
.m1{margin:1.333rem;}
.mt1{margin-top:1.333rem;}
.mr1{margin-right:1.333rem;}
.mb1{margin-bottom:1.333rem;}
.ml1{margin-left:1.333rem;}
.m0{margin:1rem;}
.mt0{margin-top:1rem;}
.mr0{margin-right:1rem;}
.mb0{margin-bottom:1rem;}
.ml0{margin-left:1rem;}
.m-1{margin:0.75rem;}
.mt-1{margin-top:0.75rem;}
.mr-1{margin-right:0.75rem;}
.mb-1{margin-bottom:0.75rem;}
.ml-1{margin-left:0.75rem;}
.m-2{margin:0.563rem;}
.mt-2{margin-top:0.563rem;}
.mr-2{margin-right:0.563rem;}
.mb-2{margin-bottom:0.563rem;}
.ml-2{margin-left:0.563rem;}
.m-3{margin:0.422rem;}
.mt-3{margin-top:0.422rem;}
.mr-3{margin-right:0.422rem;}
.mb-3{margin-bottom:0.422rem;}
.ml-3{margin-left:0.422rem;}

/* PADDING */
.p-none{padding:none;}
.pt-none{padding-top:none;}
.pr-none{padding-right:none;}
.pb-none{padding-bottom:none;}
.pl-none{padding-left:none;}
 .p3{padding:2.369rem;}
.pt3{padding-top:2.369rem;}
.pr3{padding-right:2.369rem;}
.pb3{padding-bottom:2.369rem;}
.pl3{padding-left:2.369rem;}
.p2{padding:1.777rem;}
.pt2{padding-top:1.777rem;}
.pr2{padding-right:1.777rem;}
.pb2{padding-bottom:1.777rem;}
.pl2{padding-left:1.777rem;}
.p1{padding:1.333rem;}
.pt1{padding-top:1.333rem;}
.pr1{padding-right:1.333rem;}
.pb1{padding-bottom:1.333rem;}
.pl1{padding-left:1.333rem;}
.p0{padding:1rem;}
.pt0{padding-top:1rem;}
.pr0{padding-right:1rem;}
.pb0{padding-bottom:1rem;}
.pl0{padding-left:1rem;}
.p-1{padding:0.75rem;}
.pt-1{padding-top:0.75rem;}
.pr-1{padding-right:0.75rem;}
.pb-1{padding-bottom:0.75rem;}
.pl-1{padding-left:0.75rem;}
.p-2{padding:0.563rem;}
.pt-2{padding-top:0.563rem;}
.pr-2{padding-right:0.563rem;}
.pb-2{padding-bottom:0.563rem;}
.pl-2{padding-left:0.563rem;}
.p-3{padding:0.422rem;}
.pt-3{padding-top:0.422rem;}
.pr-3{padding-right:0.422rem;}
.pb-3{padding-bottom:0.422rem;}
.pl-3{padding-left:0.422rem;}

/* OVERFLOW */
.o-scroll{overflow:scroll;-webkit-overflow-scrolling: touch;}
.o-hidden{overflow:hidden;}
.o-scroll-x{overflow-x:scroll;-webkit-overflow-scrolling: touch;}
.o-hidden-x{overflow-x:hidden;}
.o-scroll-y{overflow-y:scroll;-webkit-overflow-scrolling: touch;}
.o-hidden-y{overflow-y:hidden;}

/* VISIBILITY */
.v-hidden{visibility:hidden;}
.v-visible{visibility:visible;}


